* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  //   background-color: #151515;
  background-color: #15803d;
  // background-color: #0891b2;
  min-height: 100vh;
  color: white;
  p {
    margin: 0;
  }
}
