* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #ffffff;
  // background-color: #0891b2;
  // min-height: 100vh;
  min-height: 20vh;
  color: 000000;
  p {
    margin: 0;
  }
}
