@import "../../../../styles//colors.module.scss";

.imgLogoNav {
  width: 10rem;
  cursor: pointer;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.875rem;
}
.searchImg {
  width: 1.625rem;
  margin: 0 0.625rem;
  cursor: pointer;
}
.userProfile {
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  text-transform: uppercase;
  color: black;
  min-width: 2.813rem;
  min-height: 2.813rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.875rem;
}
.input {
  background-color: transparent;
  color: white;
  border-color: $lightGray;
  &:focus {
    background-color: transparent;
    color: white;
    border-color: $mediumGray;
    box-shadow: none;
  }

  &::placeholder {
    color: white;
  }
}
.modal {
  position: absolute;
  width: 9.375rem;
  height: 5rem;
  top: 5.313rem;
  right: 10%;
  background-color: #303030;
  outline: none;
  border-radius: 5px;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}
.overLayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.modalLink {
  color: white;
  margin: 0.313rem 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    color: $lightGreen;
  }
}

@media (max-width: 767px) {
  .nav {
    justify-content: center;
    gap: 1.25rem;
  }
  .modal {
    top: 8.75rem;
  }
}
