@import "../../../../styles/colors.module.scss";

.main {
  height: 50px;
}
.button {
  display: block;
  margin: 20px auto 0 auto;
  color: $mediumGray;
  background-color: $mediumBlue;
  padding: 15px 32px;
  &:hover {
    color: $lightGray;
    background-color: $darkBlue;
    border-color: $darkBlue;
  }
}
.modalBody {
  display: flex;
  position: absolute;
}
.formTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.form {
  // width: 37.5rem;
  background-color: $mediumBlue;
  width: 26rem;
  padding: 3.125rem;
  border: 1px solid $lightGray;
  margin: 5 auto;
}
.label {
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
}
.input {
  border-color: $lightGray;
  background-color: transparent;
  color: white;

  &::placeholder {
    color: #e2e8f0;
  }
  &:focus {
    background-color: transparent;
    border-color: $lightBlue;
    color: white;
    box-shadow: none;
  }
}
.inputName {
  @extend .input;
  //   text-transform: uppercase;
  &::placeholder {
    text-transform: none;
  }
}
.inputOption {
  color: $darkGray;
}
.formBtn {
  display: block;
  margin: 50px auto 0 auto;
  border-color: $lightGray;
  color: white;

  &:hover {
    background-color: transparent;
    color: $lightGray;
    border-color: $lightBlue;
  }
}

@media (max-width: 767px) {
  .formTitle {
    font-size: 30px;
  }
  .form {
    width: 95%;
  }
}
@media (max-width: 575px) {
  .form {
    padding: 50px 10px;
  }
}
@media (max-width: 423px) {
  .formTitle {
    font-size: 24px;
    text-align: center;
  }
}
