@import "../../../styles/colors.module.scss";

.searchCard {
  width: 320px;
  height: 240px;
  border: 1px solid $darkGray;
  overflow: hidden;
  text-overflow: clip;
  cursor: pointer;
  transition: 0.4s;
  background-color: #075985;
  border-radius: 20px;
  &:hover {
    border-color: $lightGreen;
    height: 300px;
  }
}
.searchCardImg {
  width: 100%;
  height: 190px;
}
.searchCardTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.4s;
  color: white;
}
.searchCardDescription {
  color: $lightGray;
  padding: 0px 20px;
  font-size: 18px;
}
.link {
  text-decoration: none;
}
