@import "../../../../styles/colors.module.scss";

.formTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.riskForm {
  background-color: $mediumWhite;
  width: 40rem;
  padding: 3.125rem;
  border: 1px solid $lightGray;
  margin: 0 auto;
}
