@import "../../../../styles/colors.module.scss";

.footer {
  background-color: $mediumBlue;
  color: white;
  padding: 20px;
  text-align: center;
}
.footerLogo {
  width: 100%;
}
.footerLink {
  text-decoration: none;
  color: $mediumGray;
  transition: 0.3s;

  &:hover {
    color: $lightGray;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 26px 16px;
  }
}
@media (max-width: 410px) {
  .footer {
    justify-content: center;
  }
}
