@import "../../../../styles/colors.module.scss";

.deleteRisk {
  font-weight: bold;
  padding: 0.625rem 2.188rem;
  &:hover {
    background-color: transparent;
    color: $lightGray;
  }
}

.button-group {
  margin-top: 10px;
}
