@import "../../../../styles/colors.module.scss";

.header {
  // background-color: #059669;
  // background-color: #138a0f;
  background-color: #facc15;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.9375rem 0;
}
.headerLogo {
  @media (max-width: 402px) {
    .headerContainer {
      justify-content: center;
    }
  }
  width: 12.5rem;
  cursor: pointer;
}
.headerBtn {
  height: 2.5rem;
  margin-top: 0.875rem;
  background-color: #138a0f;
  &:hover {
    // border-color: $lightGreen;
    border-color: #16a34a;
    color: $lightGray;
    // background-color: transparent;
    background-color: #16a34a;
  }
}

@media (max-width: 575px) {
  .headerContainer {
    padding: 1.25rem 1.625rem;
    gap: 1.25rem;
  }
}
@media (max-width: 402px) {
  .headerContainer {
    justify-content: center;
  }
}
