@import "../../../../styles/colors.module.scss";

.table {
  background-color: $mediumWhite;
  margin-top: 10px;
}

.slide {
  display: table-row;
  th:first-child,
  td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    width: 1%;
  }
  // td:nth-child(2) {
  //   width: 20%;
  // }
  // td:nth-child(n + 3) {
  //   width: 20%;
  // }
  // td:nth-child(3) {
  //   width: 45%;
  // }
  td:nth-child(2) {
    width: 5%;
  }
  td:nth-child(3) {
    width: 5%;
  }
}
.titles {
  font-weight: 400;
  color: black;
}
// .link {
//   text-decoration: none;
// }
.slideIndicator {
  color: black;
  padding-top: 4px;
  padding-right: 4px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.slideEvent {
  font-size: 14px;
  color: black;
  text-align: left;
}

.noWrap td,
.noWrap th {
  border: none;
}

.titles {
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  font-weight: bold;
  padding: 0.625rem 2.188rem;

  &:hover {
    background-color: transparent;
    color: $lightGray;
  }
}
.link {
  color: black;
  transition: 0.3s;
  border-radius: 60px;
}
@media (max-width: 575px) {
  .footer {
    padding: 26px 16px;
  }
}
@media (max-width: 410px) {
  .footer {
    justify-content: center;
  }
}
