@import "../../../../styles/colors.module.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  font-weight: bold;
  padding: 0.625rem 2.188rem;

  &:hover {
    border-color: $lightGreen;
    background-color: transparent;
    color: $lightGray;
  }
}
.link {
  text-decoration: none;
  color: $mediumGray;
  transition: 0.3s;

  &:hover {
    color: $lightGray;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 26px 16px;
  }
}
@media (max-width: 410px) {
  .footer {
    justify-content: center;
  }
}
